.about{
    background-color: plum;
    
    
    
    
}
.about h2{
    padding-top: 80px;
}
.about p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2em;
    margin-left: 400px;
    margin-right: 400px;
    color: blueviolet;
    padding-bottom: 80px;
}