.icons{
    background-color: aliceblue;
    padding-top: 50px;
    margin-top: -1%;
   
    
    
}
.ico{
    font-size: xx-large;
    font-weight: bolder;
    
}
.satelite{
    color:black
}
#space{
    margin-right: 900px;
} 